[Unit]
Description=Run https-handler 
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/https-handler/spawn-setup.sh

[Install]
WantedBy=multi-user.target
